{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personagens de Star Wars</title>
    <link rel="stylesheet" href="{% static 'consulta/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Personagens de Star Wars</h1>
        <ul>
            {% for person in people %}
            <li><a href="{% url 'person_detail' person.id %}">{{ person.name }}</a></li>
            {% endfor %}
        </ul>
        <a class="return-link" href="{% url 'home' %}">Voltar para a Home</a>
    </div>
</body>
</html>