<!DOCTYPE html>
<html>
<head>
    <title>{{ person.name }}</title>
</head>
<body>
    <h1>Detalhes de {{ person.name }}</h1>
    <p>Altura: {{ person.height }} cm</p>
    <p>Peso: {{ person.mass }} kg</p>
    <p>Cor do cabelo: {{ person.hair_color }}</p>
    <p>Cor da pele: {{ person.skin_color }}</p>
    <p>Cor dos olhos: {{ person.eye_color }}</p>
    <p>Ano de nascimento: {{ person.birth_year }}</p>
    <p>Gênero: {{ person.gender }}</p>
    <a href="{% url 'people' %}">Voltar para Personagens</a>
</body>
</html>